{% extends "layout.html" %}


{% block title %}
    Success 
{% endblock %}


{% block main %}
<div class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Your headline was successfully entered</strong>
</div>

<body>
    {% if prediction %}
    <h2> According to Bait 'n' Switch, the headline you entered is probably clickbait </h2>

    {% else %}
    <h2> According to Bait 'n' Switch, the headline you entered is unlikely to be clickbait </h2>
    {% endif %}
</body>

{% endblock %}

