{% extends "layout.html" %}


{% block title %}
    Input 
{% endblock %}


{% block main %}

{% if prediction == 1 %}
    <div class="alert alert-danger alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>The headline you entered is likely to be clickbait</strong>
    </div>
{% else %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>The headline you entered is unlikely to be clickbait</strong>
    </div>
{% endif %}
<h1>Bait 'n' Switch</h1>


<h3>A Tool to Classify, Tag, and Remove Clickbait</h3>
    <form action="/predict" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="headline" placeholder="Enter a URL or Headline" type="text">
        </div>
        <button class="btn btn-primary" type="submit">predict</button>
    </form>

{% endblock %}

