{% extends "layout.html" %}


{% block title %}
    Input 
{% endblock %}


{% block main %}

{% if headline_length == "1" %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Your headline only contains {{ headline_length}} word. The machine learning model works best with 4 or more words.</strong>
    </div>
{% else %}
    <div class="alert alert-success alert-dismissible">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Your headline only contains {{ headline_length}} words. The machine learning model works best with 4 or more words.</strong>
    </div>
{% endif %}
<h1>Bait 'n' Switch</h1>


<h3>A Tool to Classify Tag and Remove Clickbait</h3>
    <form action="/predict" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="headline" placeholder="Enter Headline" type="text">
        </div>
        <button class="btn btn-primary" type="submit">predict</button>
    </form>

{% endblock %}